{% extends 'layout.html' %} {% set mainClasses = "nhsuk-main-wrapper--s" %} {%
block pageTitle %} Check your answers template - NHS.UK prototype kit {%
endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#" class="active">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div>

  <!-- pagination-->

  <!--prescription summary table starts-->
  </div>
</div>
{% endblock %}
