{% extends 'layout.html' %} {% block pageTitle %} Start page template - NHS.UK
prototype kit {% endblock %} {% block beforeContent %} {{ breadcrumb({ href:
"/", text: "Home" }) }} {% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Name of the supplier test tool</h1>

    <h2>Use this tool to create:</h2>

    <ul>
      <li>a primary care acute prescription</li>
      <li>a secondary acute prescription</li>
      <li>a prescription using your own test packs</li>
      <li>a prescription using FHIR prescription files</li>
    </ul>

    <p>You can also access the Prescription Tracker</p>

    <h2>You cannot use this tool to:</h2>

    <ul>
      <li>create eRD or repeat prescriptions</li>
      <li>create non-nominated prescriptions</li>
      <li>release prescriptions</li>
      <li>verify prescriptions</li>
      <li>compare prescriptions</li>
      <li>validate a FHIR resource</li>
    </ul>

    <a href="/v1/supplier-action" class="nhsuk-button"> Start </a>
  </div>
</div>
{% endblock %}
